<!---<ngx-kjua [text]="qrcomponent" [renderAsync]="false" [cssClass]="'image-auto'" [crisp]="true" [size]="400"></ngx-kjua>-->
<button (click)="generateQR()">Click me!</button>
<ngx-kjua [text]="aanvraagString" [renderAsync]="false" [render]="'svg'" [crisp]="true" [minVersion]="1" [ecLevel]="'H'" [size]="400" [ratio]="undefined" [fill]="'#333'" [back]="'#fff'" [rounded]="100" [quiet]="1" [mode]="'plain'" [mSize]="30" [mPosX]="50" [mPosY]="50"
    [label]="'label text'" [fontname]="'sans-serif'" [fontcolor]="'#ff9818'" [image]="undefined" [cssClass]="'image-auto'"></ngx-kjua>
