.center {
  width: 75%;
  margin: 10px auto;
}

.login-card-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  text-align: center;
}

button {
  width: 100%;
}
