<button mat-button (click)="addAanvraag(aanvraag1)">Click me!</button>

<h4>Filter</h4>
<mat-chip-list [selectable]="true">
  <mat-chip id="requested" (click)="filterByStatus($event)">REQUESTED</mat-chip>
  <mat-chip (click)="filterByStatus(2) ">ACCEPTED</mat-chip>
  <mat-chip (click)="filterByStatus(3) ">REJECTED</mat-chip>
</mat-chip-list>
<button (click)="filterByStatus(null)">
  <em>clear filter</em>
</button>
<ul>
  <li *ngFor="let aanvraag of aanvragen | async">
    {{ aanvraag | json }}
  </li>
</ul>
<ng-template #loading>Loading&hellip;</ng-template>

<div>
