
.overzicht-aanvragen {
  padding: 30px;
  .filter-status {
    padding-bottom: 30px;
    .mat-chip-list {
      .mat-chip {
        color: #2f76f4;
        background-color: #fff;
        border: 1px solid #adc9fa;
        .mat-icon {
          padding-right: 5px;
        }
      }
      .mat-chip-selected {
        color: #2f76f4;
        background-color: #e5efff;
        border: 1px solid #93b3f9;
      }
    }
  }
  .mat-spinner {
    margin: 0 auto;
  }
}

