  <div class="filters">
        <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Results">
          </mat-form-field>
  <p>Filter op aanvraagstatus</p>
  <mat-chip-list>
    <mat-chip #requested="matChip" (click)="filterByStatus(requested, 0)"><mat-icon>event_out</mat-icon>Aangevraagd</mat-chip>
    <mat-chip #accepted="matChip" (click)="filterByStatus(accepted, 1)"><mat-icon>event_available</mat-icon>Geaccepteerd</mat-chip>
    <mat-chip #rejected="matChip" (click)="filterByStatus(rejected, 2)"><mat-icon >event_busy</mat-icon>Afgewezen</mat-chip>
  </mat-chip-list>
 
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search Results">
</mat-form-field>
</div>
      <mat-table [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="aanvraagId">
              <mat-header-cell *matHeaderCellDef mat-sort-header>YR</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.aanvraagId}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="docentId">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Grade</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.docentId}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="aanvraagStatus">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Grade</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.status.aanvraagStatus}} </mat-cell>
            </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-card *ngIf="isLoading" 
   style="display: flex; justify-content: center; align-items: center">
  <mat-progress-spinner 
    color="primary" 
    mode="indeterminate">
  </mat-progress-spinner>
</mat-card>
      <mat-paginator #paginator
              [length]="dataSource.filteredData.length"
              [pageIndex]="0"
              [pageSize]="5"
              [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>