#expansion-panel{
    margin: 5px;
}

#head-button{
    margin-left: 50px;
}

#head-text{
    margin-top: 8px;
    margin-left: 16px;
}

#desc{
    margin-top: 8px;
    margin-left: 16px;
}

#scroll-div{
    overflow-y: scroll;
    max-height: 530px;
    margin: 5px;
}
