<h1 mat-dialog-title>Hi</h1>
<div mat-dialog-content>
  <p>{{ data.AanvraagId }}</p>
  <p>{{ data.AanvragerId }}</p>
  <p>{{ data.DocentId }}</p>
  <p>{{ data.StartTijd }} - {{ data.EindTijd }}</p>
  <p>{{ data.Motivatie }}</p>
  <p>{{ data.QrCode }}</p>
  <p>{{ data.Status }}</p>
  <p>{{ data.Toelichting }}</p>
  <p>{{ data.RuimteId }}</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="" cdkFocusInitial>Ok</button>
</div>
